language: php

php:
  - 7.0

before_install:
  - travis_retry composer self-update
install:
  - travis_retry composer install --no-interaction --prefer-source --dev

script:
  - vendor/bin/phpunit --verbose

matrix:
  fast_finish: true